# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Development/Environment
.env
.venv
venv/
ENV/
.idea/
.vscode/
*.swp
.DS_Store

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore